@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Roboto&family=Varela+Round&display=swap');

html,
body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

h1 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: calc(100% - 2rem);
    height: 3rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #fff;
    box-shadow: 0 0 0.1rem #ddd;
}

.navbar-item {
    margin: 0 0.5rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;

    color: #777;
    transition: 0.3s;
}

.navbar-item:hover {
    color: black;
}

.navbar-item.title {
    margin-right: auto;
}

/* Title section */

.title-section {
    font-family: 'Bellota Text', cursive;
    width: 100%;
    height: calc(100vh - 3rem);
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #ddd;
}

.title-text {
    margin: 0.5rem;
    font-size: 5rem;
}

.title-description {
    font-size: 1.5rem;
}

.title-button {
    font-size: 1.5rem;
}

/* About section */

.about-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #CBE4F1;
}

/* Schedule section */

.schedule-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #8AD0D5;
}

/* Speakers section */

.speakers-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #4DA5B4;
}

.speakers-item {

}

.speakers-img {

}

.speakers-info {

}

/* FAQ section */

.faq-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #8AD0D5;
}

/* Organizers section */

.organizers-section {
    min-height: 25rem; /* TODO: edit when pictures are added */
    padding: 3rem 10%;
    background-color: #CBE4F1;
}

.organizers-item {

}

.organizers-img {

}

.organizers-info {
    
}

/* Contact Us section */

.contact-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #fff;
}

#footer {
    margin-top: 60px;
    text-align: center;
    font-size: 0.7rem;
}
