@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&family=Roboto&family=Varela+Round&display=swap');

html,
body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
}

h1 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    margin: 0.2rem 0;
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: calc(100% - 2rem);
    height: 3rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #fff;
    box-shadow: 0 0 0.1rem #ddd;
}

.navbar-item {
    margin: 0 0.5rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;

    color: #777;
    transition: 0.3s;
}

.navbar-item:hover {
    color: black;
}

.navbar-item.logo {
    margin-right: 0;
}

.navbar-item.title {
    margin-left: 0;
    margin-right: auto;
    padding-left: 0.5rem;
}

.navbar-logo {
    height: 2rem;
    width: 2.5rem;
    overflow: hidden;
}

/* Title section */

.title-section {
    font-family: 'Bellota Text', cursive;
    width: 100%;
    height: calc(100vh - 3rem);
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #FBC154;
}

.title-text {
    margin: 0.5rem;
    font-size: 5rem;
}

.title-description {
    font-size: 1.5rem;
}

.title-button {
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    border-color: black;
    padding: 0.3rem;
    /* padding-top: 0.1rem; */
    font-size: 1.5rem;
    text-align: center;
    background-color: #eee;

    /* border: none; */
    box-shadow: 0 0 0.5rem #ddd;
    /* background-color: white; */
    cursor: pointer;
    transition: 0.2s;
}
.title-button:hover {
    /* background-color: #ddd; */
    box-shadow: 0 0 0.5rem #999;
}

/* About section */

.about-section {
    min-height: 25rem;
    padding: 3rem 10%;
    background-color: #CBE4F1;
}

/* Schedule section */

.schedule-section {
    min-height: 25rem;
    padding: 3rem 10%;
    background-color: #8AD0D5;
}

/* Speakers section */

.speakers-section {
    min-height: 25rem;
    padding: 3rem 10%;
    background-color: #4DA5B4;
}

.speakers-item {

}

.speakers-img {

}

.speakers-info {

}

/* FAQ section */

.faq-section {
    min-height: 25rem;
    padding: 3rem 10%;
    background-color: #8AD0D5;
}

.faq-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.8rem;
}

.faq-column {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.faq-left {
    margin-right: 0.5rem;
}

.faq-right {
    margin-left: 0.5rem;
}

.faq-item {
    margin: 0.5rem 0;
}

.faq-question {
    font-weight: bold;
}

.faq-answer {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    line-height: 1.3rem;
}

/* Organizers section */

.organizers-section {
    min-height: 25rem;
    padding: 3rem 10%;
    background-color: #CBE4F1;
}

.organizers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    justify-content: center;
}

.organizers-item {
    margin: 0.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organizers-img {
    height: 12rem;
    width: 8rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem;
}

.organizers-info {
    text-align: center;
}

/* Contact Us section */

.contact-section {
    min-height: 25rem;
    padding: 3rem 10%;
    background-color: #fff;
}

#footer {
    margin-top: 60px;
    text-align: center;
    font-size: 0.7rem;
}

/* Other */

.person-name {
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.person-description {
    margin: 0;
    font-size: 0.6rem;
}