html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}

h1 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: calc(100% - 2rem);
    height: 3rem;
    padding: 0 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: #fff;
    box-shadow: 0 0 0.1rem #ddd;
}

.navbar-item {
    margin: 0 0.5rem;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;

    color: #777;
    transition: 0.3s;
}

.navbar-item:hover {
    color: black;
}

.navbar-item.title {
    margin-right: auto;
}

/* Title section */

.title-section {
    width: 100%;
    height: calc(100vh - 3rem);
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #ddd;
}

.title-text {
    margin: 0.5rem;
    font-size: 5rem;
}

.title-description {
    font-size: 1.5rem;
}

.title-button {
    font-size: 1.5rem;
}

/* About section */

.about-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #fff;
}

/* Schedule section */

.schedule-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #ddd;
}

/* Sponsors section */

.sponsors-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #fff;
}

/* Speakers section */

.speakers-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #ddd;
}

/* FAQ section */

.faq-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #fff;
}

/* Organizers section */

.organizers-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #ddd;
}

/* Contact Us section */

.contact-section {
    height: 25rem;
    padding: 3rem 10%;
    background-color: #fff;
}

#footer {
    margin-top: 60px;
    text-align: center;
    font-size: 0.7rem;
}
